@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html,
body {
  height: 100%;
}

.app {
}

.top {
  border-bottom: 1px solid rgb(221, 221, 221);
  height: 40vh;
  overflow: scroll;
}

.CodeMirror {
  height: 100%;
  padding-bottom: 0;
}

.top button {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
}

.bottom {
  height: 60vh;
  padding-left: 29px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
}

h4 {
  margin: 0 0 10px;
}

.tokens,
.ast {
  padding: 10px;
  flex-grow: 1;
  height: 100%;
  overflow: scroll;
}

.token-type,
.token-lexeme {
  margin-right: 10px;
  font-size: 12px;
}
